[Unit]
Description=Weston display daemon

[Service]
User=display
ExecStartPre=/sbin/fbset -a -xres 1280 -yres  720 -vxres 1280 -vyres  720 ; /bin/echo 1 > /sys/class/graphics/fb0/enable
ExecStart=/usr/bin/weston --backend=fbdev-backend.so -i0 --log=%h/weston.log
StandardInput=tty
TTYPath=/dev/tty7
EnvironmentFile=/etc/sysconfig/weston

#adding the capability to configure ttys
#may be needed if the user 'display' doesn't own the tty
#CapabilityBoundingSet=CAP_SYS_TTY_CONFIG 

[Install]
WantedBy=graphical.target
